.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #3f1302;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }